*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties

# Archivos de Android Studio / IntelliJ
.idea/
*.iml
.gradle/
local.properties

# Archivos de compilación (Los más pesados)
build/
app/build/

# Archivos del sistema
.DS_Store
captures/
